@{
    ViewBag.Title = "Home Page";
}

<div class="container" style="padding-top: 70px;">
    <div class="row">
        <div class="jumbotron">
            <h1>Welcome to the Movies catalog</h1>
            <p class="lead">
                Our catalog allows you to post your movies, edit and view detailed information about the placed films, post your movie poster.
            </p>
            <p>
                To get all the features to work with our movies catalog, you must register and log in.
            </p>
            <p>
                ...
            </p>
        </div>
    </div>
</div>
